/*
  ========================================
  Global 
  ========================================
*/

html,
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  padding-left: 17em;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #868e96;
  text-align: left;
  background-color: #fff;
  font-family: 'Barlow', sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #343a40;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1em;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

input:invalid {
  outline: none;
  border-color: #f05050;
  box-shadow: 0 0 10px #ed9e9e;
}
/*
  ========================================
  Import Custom Icons
  ========================================
*/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7421wv');
  src:  url('../fonts/icomoon.eot?7421wv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7421wv') format('truetype'),
    url('../fonts/icomoon.woff?7421wv') format('woff'),
    url('../fonts/icomoon.svg?7421wv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hapilogo:before {
  content: "\e903";
}

.icon-shopify:before {
  content: "\e901";
  color: #868e96;

}
.icon-mongodb:before {
  content: "\e902";
  color: #868e96;

}
.icon-dot-net:before {
  content: "\e900";
  color: #868e96;

}


/*
  ========================================
  Loading Spinner
  ========================================
*/

.lds-hourglass {
  display: inline;
  position: relative;
  width: 1rem;
  height: 1rem;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 0 12px;
  box-sizing: border-box;
  border: 10px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}


/*
  ========================================
  Navgation
  ========================================
*/

.navbar-toggler {
  display: none;
  padding: 8px;
  border: solid #606060 2px;
  border-radius: 5px;
}

.navbar-wrapper {
  background:#f0f0f0;
  padding: .5rem .1rem;
  left: 0;
  top: 0;
}

.navbar-nav {
  display: block;
  -webkit-transition: height 2s ease-out;
  -moz-transition: height 2s ease-out;
  -o-transition: height 2s ease-out;
  transition: height 2s ease-out;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-logo-portrait {
  display: none;
  font-size: 1.25em;
}

.navbar-nav__link {
  padding: .5rem 1rem;
}

.mobile-logo-portrait,
.navbar-nav__link > a {
  color: #606060;
  font-weight: 600;
  text-decoration: none;
}

.navbar-toggler__hamburger {
  position: relative;
  display: inline-block;
  width: 1.25em;
  height: 1.2em;
  border-top: 0.2em solid #606060;
  border-bottom: 0.2em solid #606060;
}

.navbar-toggler__hamburger:before {
  content: "";
  position: absolute;
  top: 0.3em;
  left: 0px;
  width: 100%;
  border-top: 0.2em solid #606060;
}


/*
  ========================================
  Resume Content
  ========================================
*/

.container {
  max-width: 100%;
  /* margin: 0 auto; */
}

.resume-section-wrapper {
  width: 100%;
}

.heading {
  letter-spacing: 1px;
}

.intro-highlight {
  color: #90a6b9;
}

.p-text,
.subheading,
.subheading-desktop {
  font-family: 'Barlow Condensed', sans-serif;
  
}

.typewriter-sub-heading-wrapper {
  display: inline-block;
}

.typewrite-sub-heading {
  display: inline-block;
  font-family: 'Barlow Condensed', sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */ 
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
}

.animate-typewrite {
  border-right: .15em solid #90a6b9;
  animation: 
    typewrite 2s steps(30, end),
    blink-caret .5s step-end infinite;
}

.animate-backspace {
  border-right: .15em solid #90a6b9;
  animation: 
    backspace 1s steps(30, end) normal forwards,
    blink-caret .5s step-end infinite;
}

@keyframes typewrite {
  from { width: 0 }
    to { width: 100% }
}

@keyframes backspace {
  from { width: 100% }
  to { width: 0% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #90a6b9 }
}

.subheading,
.subheading-desktop {
  font-size: 1.5rem;
}
.p-text {
  letter-spacing: 1px;
  font-size: 1.15rem;
}

.resume-section {
  display: flex;
  align-items: center;
  max-width: 75rem;
  /* margin: 0 auto; */
  padding: 3rem;
  min-height: 100vh;
}

.resume-item {
  display: flex;
  justify-content: space-between;
}

.resume-date {
  width: 18rem;
  text-align: right;
  color: #90a6b9;
}

.social-media {
  display: flex;
}

.social-media a {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff!important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: .5rem;
}

.projects-heading {
  margin-bottom: 10px;
}

.dev-icons {
  font-size: 3rem;
}

.shopify {
  background: url("../svg/Shopify-logo.svg");
}

/*
  ========================================
    Skills & Projects Styles
  ========================================
*/
  .resume-project-item > p {
    max-width: 37.5rem;
  }
  .project-logo {
    display: block;
    margin-bottom: 1rem;
  }

/*
  ========================================
    Button Styles
  ========================================
*/
  .secondary-btn,
  .primary-btn {
    border: none;
    padding: 1rem;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
  }

  .primary-btn {
    background: #343a40;
  }

  .secondary-btn {
    background: #90a6b9;
  }
/*
  ========================================
    Modal Styles
  ========================================
*/

  .modal {
    display: flex; /* Hidden by default */
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: opacity 1s;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }

  .modal-content__header {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-content__body {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
  }

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }

  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .close {
    color: #aaa;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .txtbox {
    height: 100px;
  }

/*
  ========================================
    Specific Styles
  ========================================
*/
  .margin-bottom {
    margin-bottom: 3rem;
  }

  .no-margin {
    margin: 0;
  }

  .hide {
    opacity: 0;
    pointer-events: none;
  }

  .show
  {
    opacity: 1;
    pointer-events: auto;
  }

  .width-60 {
    width: 60%;
  }

/*
  ========================================
  Desktop styles
  ========================================
*/

@media(min-width: 950px) {
  .navbar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 272px;
    background: #f0f0f0;
    height: 100vh;
    position: fixed;
  }
  .navbar-resp-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo-portrait > img {
    border-radius: 100%;
    border: solid #BAC1C8 .5rem;
    margin-bottom: .5rem;
  }
  .navbar-nav {
    display: block;
    text-align: center;
  }

}

/*
  ========================================
  Mobile styles
  ========================================
*/

@media(max-width:950px) {
  body {
    padding-left: 0;
  }
  .navbar-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: .5rem 1rem;
  }
  .navbar-resp-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar-nav {
    /* display: block;
    height: 0;
    overflow-y: hidden; */
    display: none;
  }
  .logo-portrait {
    display: none;
  }
  .navbar-toggler {
    display: block;
  }

  .resume-section {
    padding: .5rem 1rem;
  }

  .mobile-logo-portrait {
    display: block;
  }
  /* .navbar-nav__link {
    padding-left: 0;
    padding-right: 0;
  } */
  
  .form-control {
    height: 50px;
  }

  .typewrite-sub-heading,
  .subheading-desktop {
    display: none;
  }
}

@media(max-width:756px) {
  body {
    padding-top: 54px;
  }
  .resume-section {
    align-items: flex-start;
    min-height: auto;
    padding: 5rem 1rem;
  }
  .resume-item {
    flex-direction: column;
    justify-content: space-between;
  }
  .resume-date {
    text-align: left;
  }
  .modal-content {
    width: 80%;
  }
}

.show {
 display: block;
}